.logo {
    height: 50px;
    width: 50px;
}
#games {
    height: 300px;
    overflow-y: auto;
}
#players {
    height: 200px;
    overflow-y: auto;
}
#player-info {
    height: 400px;
    overflow-y: auto;
}